# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
.DS_Store

*.vsp
*.obj
*.exe
*.ilk
*.pdb
Debug\*
Release\*
*.psess
*.tlog
*.log
src/debug/*
src/release/*

*.qm
*.sln
*.vspx
*.VC.db
*.vcxproj*
*.suo
.vs/*
x64/*
